.env
.env.*

# Logs
logs
*.log*

# node
node_modules
dist
build
coverage
.husky
.pnpm-store
# Keep host pnpm build artifacts for Dockerfile.nbys thin image
.next/*
!.next/standalone
!.next/standalone/**
!.next/static
!.next/static/**

# vscode
.vscode

# webstorm
.idea
*.iml
*.iws
*.ipr


# Jetbrains
.idea

# git
.git
.gitignore